%h2 Welcome Sign Up

= form_tag request_path do

  = label :name, 'Full Name:'
  = text_field :request, :provider_id

  = label :email, 'Email:'
  = text_field :request, :email

  = label :password, 'Password:'
  = password_field :request, :password
  
  
  = submit_tag 'Submit', :class => 'btn btn-primary btn-lg'
  = link_to 'Cancel',root_path  ,:class => "btn btn-primary btn-lg"