%h2 Welcome Sign Up

= form_tag signup_path do

  = label :request, :name, 'Full Name:'
  = text_field :request, :name

  = label :request, :email, 'Email:'
  = text_field :request, :email

  = label :request, :password, 'Password:'
  = password_field_tag :request
  
  
  = submit_tag 'Submit', :class => 'btn btn-primary btn-lg'
  = link_to 'Cancel',root_path  ,:class => "btn btn-primary btn-lg"
  