.container{:id => "dashboard"}
    %br
    .container-header
        %h1{:id=>"dash"} Patient Profile
    %br
    %form{:action => "/provider/feedback", :method => "POST"}
        %input{:type=>"hidden", :value => form_authenticity_token, :name => :authenticity_token}
        %input{:type=>"hidden", :value => @patient.id, :name => :questions_id}
        .card
            .card-header
                %h5{:class=>"card-title"} Patient Profile
            .card-body
                .row
                    .col-8
                        %h6 Name : #{@patient.name}
                        %h6 Age in Years : #{@patient.age}
                        %h6 MRN : #{@patient.mrn}
                        %br
        %br    
        .card
            .card-header
                %h5{:class=>"card-title"}Osteoporosis Treatment Initiation Counseling Dashboard
            .card-body
                %table.table.table-bordered.table-hover
                    %thead
                        %tr{:id =>"table-label"}
                            %th{:scope => "col"}Readiness Indicators
                            %th{:colspan =>"5",:id=>"col_dash"}Readiness Stage
                        %tr
                            %th{:scope => "col"} 
                            %th{:scope => "col"} Don't Think Treatment is Needed
                            %th{:scope => "col"} Not Thinking About / Decided Against Treatment
                            %th{:scope => "col"} Thinking About Treatment
                            %th{:scope => "col"} Active Treatment
                    %tbody
                        %tr
                            %th{:scope => "row"} Age>=70y
                            %td
                                - if @User_stage == 1
                                    = @User_age
                            %td
                                - if @User_stage == 2
                                    = @User_age
                            %td
                                - if @User_stage == 3
                                    = @User_age
                            %td
                                - if @User_stage == 4
                                    = @User_age
                        %tr
                            %th{:scope => "row"} Lower Perceived Fracture Risk
                            %td
                                - if @User_stage == 1
                                    = @User_risk
                            %td
                                - if @User_stage == 2
                                    = @User_risk
                            %td
                                - if @User_stage == 3
                                    = @User_risk
                            %td
                                - if @User_stage == 4
                                    = @User_risk
                        %tr
                            %th{:scope => "row"} Inadequate Health Literacy
                            %td
                                - if @User_stage == 1
                                    = @User_literacy
                            %td
                                - if @User_stage == 2
                                    = @User_literacy
                            %td
                                - if @User_stage == 3
                                    = @User_literacy
                            %td
                                - if @User_stage == 4
                                    = @User_literacy
                        %tr
                            %th{:scope => "row"} Lower Trust for Medication
                            %td
                                - if @User_stage == 1
                                    = @User_trust
                            %td
                                - if @User_stage == 2
                                    = @User_trust
                            %td
                                - if @User_stage == 3
                                    = @User_trust
                            %td
                                - if @User_stage == 4
                                    = @User_trust
                        %tr
                            %th{:scope => "row"} Not Received Medication Information in Past Year
                            %td
                                - if @User_stage == 1
                                    = @User_priorinfo
                            %td
                                - if @User_stage == 2
                                    = @User_priorinfo
                            %td
                                - if @User_stage == 3
                                    = @User_priorinfo
                            %td
                                - if @User_stage == 4
                                    = @User_priorinfo
        %br                    
        .card
            .card-header
                %h5{:class=>"card-title"} Counseling Strategy
            .card-body
                - @counsel_points[@stage].each_with_index do |cp, index|
                    %p #{index+1}) #{cp}
        %br
        .card
            .card-header
                %h5{:class=>"card-title"} Provider Feedback
            .card-body
                %textarea{:class => "form-control", :rows => 10, :name => "feedback", :placeholder => "Please enter your feedback here..."} 
                    = @feedback
        %br
        .container-footer
            %button{:type => "submit", :class => "dash btn btn-primary btn-lg", :style => "width: 190px; margin: 0px 10px;"} Update Feedback
            = link_to 'Back to Panel', '/login', :class => "dash btn btn-danger btn-lg", :style => "width: 190px; margin: 0px 10px;"
    %br